.gallery-section {
  margin-top: 150px;
    text-align: center;
    padding: 2rem;
  }
  
  .gallery-title {
  font-size: 32px;
  color: #282d51;;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.divider {
  width: 60px;
  height: 2px;
  background-color: #d4af37;
  margin: 0 auto 40px;
}
  /* .gallery-subtitle {
    color: #777;
    margin-bottom: 2rem;
  } */
  
  /* Masonry layout */
  .masonry {
    column-count: 3;
    column-gap: 15px;
  }
  
  .masonry-item {
    break-inside: avoid;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .masonry-item p-image {
    width: 100%;
    display: block;
  }
  
  .masonry-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .masonry-item img:hover {
    transform: scale(1.05);
  }
  
  /* Responsive */
  @media (max-width: 1024px) {
    .masonry {
      column-count: 2;
    }
  }
  
  @media (max-width: 600px) {
    .masonry {
      column-count: 1;
    }
  }
  