 <div class="d-flex flex-column mt-5" style="background-color:#f4f4f4 ;">
    <div class="subtitle text-center">
        <p>rich & refined texture </p>
        <h3 class="mb-5"><a href="">semi classic</a></h3>

    </div> 
    <!-- <div class=" " > -->
         <p-carousel class=" mx-4" [value]="images" [numVisible]="5" [numScroll]="5" [circular]="true"
            [responsiveOptions]="responsiveOptions">
            <ng-template    let-image pTemplate="item">
                <div class="imgSlider p-2 mx-2">
                <img class=" w-100"  src={{image.imageCover}} alt="">
            </div>
            </ng-template>
        </p-carousel> 
    <!-- </div> -->
    
     <button class="btnViewAll align-self-center my-5" type="button ">view all
        <i class="fa-solid fa-arrow-right "></i>
    </button>

</div> 